.box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 1000px;
  background-color: rgb(200, 212, 200);
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  
}
.item {
  border: 1px solid black;
  flex-grow: 1;
  width: 200px;
  height: 400px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}
.anh {
  width: 280px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
h2 {
  text-align: center;
  font-weight: 400px;
  font-size: 14px;
}
span {
  margin-left: auto;
}
button {
  margin-left: auto;
  border-radius: 5px;
  width: 100px;
  background-color: blanchedalmond;
}
.item:hover {
    box-shadow: 10px 10px 8px #888888;
